Flujo_de_NodeRed.json
[{"id":"4fd63d4d.b0bfb4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ccec9949.046c58","type":"http in","z":"4fd63d4d.b0bfb4","name":"INTERRUPTOR","url":"/interruptor","method":"get","upload":false,"swaggerDoc":"","x":99.5,"y":221,"wires":[["b3c33aa1.91b058"]]},{"id":"b3c33aa1.91b058","type":"function","z":"4fd63d4d.b0bfb4","name":"","func":"msg.payload=msg.payload.led;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":305.5,"y":223,"wires":[["409e7f5d.551f1","3eb998be.85b9d8"]]},{"id":"3eb998be.85b9d8","type":"http response","z":"4fd63d4d.b0bfb4","name":"","statusCode":"","headers":{},"x":524.5,"y":313,"wires":[]},{"id":"409e7f5d.551f1","type":"arduino out","z":"4fd63d4d.b0bfb4","name":"ARDUINO","pin":"2","state":"OUTPUT","arduino":"d53731a6.87593","x":537.5,"y":226,"wires":[]},{"id":"d53731a6.87593","type":"arduino-board","z":"","device":"COM5"}]